{% extends 'head.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="display" style="background-image: url('../static/images/about.jpg');">
    <div class="parent">
        <div class="displaytxt">
            About
        </div>
        <div class="subtitle">
            A resume summary is a professional statement at the top of a resume. It describes the candidate's relevant experience, skills, and achievements.
        </div>
    </div>
</div>
{% include 'bottom.html' %}
{% endblock %}
</body>
</html>
