{% extends 'head.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="display" style="background-image: url('../static/images/Contact.jpg');">
    <div class="parent">
        <div class="displaytxt">
            Contact Us
        </div>
        <div class="subtitle">
            Contact us through tally <a href="https://tally.so/r/m6KLA5" target="_blank" style="text-decoration: none;">&nbsp;form </a>. <p>
            
        </div>
    </div>
</div>
{% include 'bottom.html' %}
{% endblock %}
</body>
</html>
