<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resume Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
    <form method="POST">
        <h1>Resume Form</h1>

        
        <div class="input-group">
            <label for="name">Your Name:</label>
            <span class="word-count" id="name-word-count"></span>
            <input type="text" id="name" name="name" placeholder="Enter your full name" maxlength="50" required>
        </div>

        <div class="input-group">
            <label for="phone">Phone Number:</label>
            <span class="word-count" id="phone-word-count"></span>
            <input type="tel" id="phone" name="phone" placeholder="Enter your phone number" maxlength="13" required>
        </div>

        <div class="input-group">
            <label for="email">Email ID:</label>
            <span class="word-count" id="email-word-count"></span>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
        </div>

      <div class="input-group">
          <label for="LinkedIn">LinkedIn:</label>
          <span class="word-count" id="linkedin-word-count"></span>
          <input type="text" id="linkedin" name="linkedin" placeholder="Enter url for LinkedIn" required>
      </div>

        <div class="input-group">
            <label for="location">Location:</label>
            <span class="word-count" id="location-word-count"></span>
            <input type="text" id="location" name="location" placeholder="Enter your current location" maxlength="60" required>
        </div>

        <div class="input-group">
            <label for="secondary-edu">Secondary Education:</label>
            <span class="word-count" id="secondary-edu-word-count"></span>
            <input type="text" id="secondary-edu" name="secondary_edu" placeholder="Enter details (e.g., year and school)" maxlength="40" required>
        </div>

        <div class="input-group">
            <label for="senior-secondary-edu">Senior Secondary Education:</label>
            <span class="word-count" id="senior-secondary-edu-word-count"></span>
            <input type="text" id="senior-secondary-edu" name="senior_secondary_edu" placeholder="Enter details (e.g., year and school)" maxlength="40" required>
        </div>

        <div class="input-group">
            <label for="languages">Languages:</label>
            <span class="word-count" id="languages-word-count"></span>
            <input type="text" id="languages" name="languages" placeholder="Enter languages (comma-separated language then 0-100)" required>
        </div>

        
        <div class="input-group">
            <label for="profile">Profile (max 556 characters):</label>
            <span class="word-count" id="profile-word-count"></span>
            <textarea id="profile" name="profile" placeholder="Write a brief profile about yourself" maxlength="556" required></textarea>
        </div>

        <div class="input-group">
            <label for="achievements">Achievements (comma seperated):</label>
            <span class="word-count" id="achievements-word-count"></span>
            <textarea id="achievements" name="achievements" placeholder="Enter achievements (comma separated)" maxlength="85" required></textarea>
        </div>

        <div class="input-group">
            <label for="prof-skills">Professional Skills:</label>
            <span class="word-count" id="prof-skills-word-count"></span>
            <input type="text" id="prof-skills" name="prof_skills" placeholder="Enter skills (comma-separated skill then 0-100)" maxlength="250" required>
        </div>

        <div class="input-group">
            <label for="prof-knowledge">Professional Knowledge:</label>
            <span class="word-count" id="prof-knowledge-word-count"></span>
            <input type="text" id="prof-knowledge" name="prof_knowledge" placeholder="Enter knowledge (10-100 characters comma-separated)" minlength="10" maxlength="100" required>
        </div>

        <div class="input-group">
            <label for="hobbies">Hobbies:</label>
            <span class="word-count" id="hobbies-word-count"></span>
            <input type="text" id="hobbies" name="hobbies" placeholder="Enter hobbies (comma-separated)" maxlength="70" required>
        </div>

        
        <div class="input-group">
            <label for="another-field">Profile Picture:</label>
            <input type="text" id="another-field" name="picture" placeholder="Enter url for profile picture" required>
        </div>

        <div>
            <input type="submit">
        </div>
    </form>

    <script src="../static/form.js">
    </script>
</body>
</html>
