{% extends 'head.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="display" style="background-image: url('../static/images/home.jpg');">
    <div class="parent">
        <div class="displaytxt">
            Welcome To Our Resume Project
        </div>
        <div class="subtitle">
            This site was built only using HTML and CSS only. By Manan Siyal, Manik Lakhanpal, and Sujal Garg.
        </div>
    </div>
</div>
<script>
    alert("This site is under construction🚧 90% complete")
</script>
{% include 'bottom.html' %}
{% endblock %}
</body>
</html>
